@import 'reset.css';

html, body { height: 100%; }

body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 300;
  background: #2a586b;
}

input {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 300; 
}
  input:focus {
    outline: solid #13b96d;
  }

#container {
  height: 400px;
  max-width: 600px;
  text-align: left;
  background: #fafafa;
  padding: 20px;
  box-sizing: border-box;
  position: relative;
  top: calc(50% - 200px);
  margin: auto;
  box-shadow: 0 0 120px rgba(0,0,0,0.5);
}


/*
  Join screen
 */
.join {
  
}
  .join h1 {
    font-size: 40px;
    margin: 60px 0;
    text-align: center;
  }

  .join form { text-align: center; }

  .join input {
    font-size: 30px;
    letter-spacing: 1px;
    padding: 20px;
    color: #13b96d;
    width: 80%;
    text-align: center;
  }

/*
  Chat screen
 */
.chat {
  height: 100%;
  position: relative;
}

.chat-actions {
  overflow-y: auto;
  position: absolute;
  top: 0; right: 0; left: 0; bottom: 50px;
}
  .chat-actions .action {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
  }

    .chat-actions .action .time {
      font-size: 70%;
      color: #bbb;
      margin-right: 20px;
    }

  .chat-actions .action-message {}

    .chat-actions .action-message strong {
      width: 100px;
      margin-right: 10px;
      color: #aaa;
      font-weight: normal;
    }

      .chat-actions .action-message strong::before {
        content: '<';
        font-weight: normal;
        color: #ccc;
      }

      .chat-actions .action-message strong::after {
        content: '>';
        font-weight: normal;
        color: #ccc;
      }

  .chat-actions .action-join {
    color: #13b96d;
  }

.chat-compose {
  position: absolute;
  bottom: 0; left: 0; right: 0;
  height: 40px;
}
  .chat-compose input {
    width: 100%; height: 40px;
    padding: 0 10px;
    font-size: 16px;
    box-sizing: border-box;
  }


.connectivity-indicator {
  position: absolute;
  top: 0; right: 0;
  display: inline-block;

  padding: 3px 4px;
  font-size: 11px;
  line-height: 1;
  color: #FFF;
  border-radius: 2px;
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.12);

  background-color: #ac203a;

  z-index: 2;
}

  .connectivity-indicator.online {
    background-color: #13b96d;
  }

